<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar Contato</ion-title>
    <ion-icon name="pencil" size="large" slot="end" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editForm">
    <p>Altere os dados dos campos e aperte "enviar para editar o contato".</p>

    <p>
      <ion-input label="Nome:" type="text" name="name" label-placement="floating" fill="outline"
        placeholder="Seu nome completo" [autofocus]="true" error-text="Nome inválido!"
        formControlName="name"></ion-input>
    </p>

    <p>
      <ion-input label="Email:" type="email" name="email" label-placement="floating" fill="outline"
        placeholder="Seu e-mail" error-text="E-mail inválido!" formControlName="email"></ion-input>
    </p>

    <p>
      <ion-input label="Cep:" type="text" name="cep" label-placement="floating" fill="outline" placeholder="Seu cep"
        error-text="Cep inválido!" formControlName="cep" (keyup)="getCep()"></ion-input>
    </p>

    <p>
      <ion-input label="Estado:" type="text" name="logradouro" label-placement="floating" fill="outline"
        placeholder="Seu estado" error-text="Estado inválido!" formControlName="logradouro"></ion-input>
    </p>

    <p>
      <ion-input label="Cidade:" type="text" name="local" label-placement="floating" fill="outline"
        placeholder="Sua cidade" error-text="Local inválido!" 
        formControlName="local"></ion-input>
    </p>

    <p>
      <ion-input label="Bairro:" type="text" name="bairro" label-placement="floating" fill="outline"
        placeholder="Seu bairro" error-text="Bairro inválido!" formControlName="bairro"></ion-input>
    </p>

    <p>
      <ion-input label="Assunto:" type="text" name="subject" label-placement="floating" fill="outline"
        placeholder="Assunto do contato" error-text="Assunto inválido!" formControlName="subject"></ion-input>
    </p>

    <p>
      <ion-textarea label="Mensagem:" name="message" labelPlacement="floating" fill="outline" [autoGrow]="true"
        placeholder="Mensagem do contato" error-text="Mensagem inválida!" formControlName="message"></ion-textarea>
    </p>

    <ion-item>
      <ion-img [src]="documents?.imagem?.url" [alt]="'Foto do contato ' + editForm.value.name" *ngIf="!imagem.uploaded"></ion-img>
      <ion-img [src]="imagem.url" [alt]="'Foto alterada do contato ' + editForm.value.name" *ngIf="imagem.uploaded"></ion-img>
    </ion-item>

    
    <ion-item>
      <ion-button (click)="general.getPhoto(imagem)" expand="full">
        <ion-icon name="pencil" slot="start"></ion-icon>
        Alterar Foto
      </ion-button>
    </ion-item>
    
    <ion-item>
      <ion-button (click)="alertSend = true;" expand="full">
        <ion-icon name="send" slot="start"></ion-icon>
        Enviar para Editar
      </ion-button>
    </ion-item>
    

 
  </form>

  <!-- Elemento de alerta -->
  <ion-alert
    header="Realmente deseja alterar os dados deste contato?"
    [buttons]="alertButtons"
    [isOpen]="alertSend"
  ></ion-alert>

  <!-- Elemento de carregamento -->
  <ion-loading
    class="custom-loading"
    [isOpen]="sending"
    showBackdrop="false"
    message="Carregando..."
    spinner="circles"
  ></ion-loading>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>