<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Política de privacidade</ion-title>
    <ion-icon name="document-text" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre o Projeto Final 5-3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Bem-vindo ao Projeto Final 5-3, um inovador website e aplicativo PWA construído utilizando as tecnologias
        Ionic, Angular e Capacitor. Nosso objetivo é proporcionar uma experiência envolvente e eficiente para nossos
        usuários, oferecendo recursos poderosos e uma abordagem centrada na privacidade.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nossa Missão</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Nossa missão é criar um ambiente digital seguro e amigável, onde os usuários possam acessar e utilizar nossos
        serviços com confiança e tranquilidade. Buscamos constantemente aprimorar nossos produtos, mantendo um
        compromisso firme com a privacidade e segurança dos dados pessoais dos nossos usuários.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recursos Destacados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <p>Tecnologia de Ponta: Utilizamos as tecnologias mais recentes, como Ionic, Angular e Capacitor, para criar
            um aplicativo PWA de alto desempenho e com interface intuitiva.</p>
        </ion-item>

        <ion-item>
          <p>Privacidade em Primeiro Lugar: Valorizamos a privacidade dos nossos usuários. Implementamos medidas de
            segurança rigorosas para proteger as informações pessoais, além de oferecer opções claras para controle e
            gestão dos dados.</p>
        </ion-item>

        <ion-item>
          <p>Experiência Multidispositivo: Nosso aplicativo PWA é projetado para ser compatível com diversos
            dispositivos, proporcionando uma experiência consistente e funcional em smartphones, tablets e computadores.
          </p>
        </ion-item>

        <ion-item>
          <p>Personalização Inteligente: Oferecemos recursos de personalização que se adaptam às suas preferências,
            garantindo que você aproveite ao máximo os serviços do Projeto Final 5-3.</p>
        </ion-item>

        <ion-item>
          <p>Comunicação Transparente: Mantemos nossos usuários informados sobre atualizações, novos recursos e eventos
            relevantes por meio de comunicações transparentes e oportunas.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Compromisso com a Privacidade</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>A proteção das informações pessoais dos nossos usuários é fundamental. Implementamos práticas de coleta, uso e
        compartilhamento de dados que respeitam a privacidade individual e cumprimos rigorosamente as leis e
        regulamentações de proteção de dados.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Como Entrar em Contato</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Se você tiver alguma dúvida, sugestão ou preocupação relacionada ao Projeto Final 5-3, nossa equipe de suporte
        está pronta para ajudar. Você pode entrar em contato conosco pelo seguinte meio: <br /><br />

        E-mail: <br />
        <a href="mailto:kaikdossantossilva2@gmail.com">kaikdossantossilva2@gmail.com</a><br />
        <a href="mailto:rodrigorr7160@gmail.com">rodrigorr7160@gmail.com</a><br /><br />

        Agradecemos por escolher o Projeto Final 5-3 e estamos ansiosos para fornecer uma experiência excepcional,
        segura e personalizada para você!</p>
    </ion-card-content>
  </ion-card>
</ion-content>