<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ínicio</ion-title>
    <ion-icon name="home" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-accordion-group *ngIf="documents.length > 0">
    <ion-item>Lista de contatos</ion-item>
    <ion-accordion *ngFor="let document of documents; let i = index" style="cursor: pointer;">
      <ion-item slot="header">
        <ion-label><strong>Assunto: </strong> {{ general.formatText(document.form.subject) }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" (click)="viewDoc(documentsId[i])">
        <ion-card>
          <ion-card-header>
            <img src="{{ document.imagem.url }}" alt="Imagem do contato {{ document.name }}" style="width: 100px;" />
          </ion-card-header>

          <ion-card-content>
            <p><strong>Nome: </strong> {{ general.formatText(document.form.name) }}</p>
            <p><strong>E-mail: </strong> {{ general.formatText(document.form.email) }}</p>
            <p><strong>Assunto: </strong> {{ general.formatText(document.form.subject) }}</p>
            <p><strong>Data: </strong> {{ document.date | date: 'dd/MM/yyyy' }} às {{ document.date | date: 'H:m' }}.</p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-card *ngIf="documents.length === 0">
    <ion-card-content>
      <p>Nenhum contato encontrado.</p>
      <p>Entre em contato clicando no botão abaixo.</p>
      <ion-button routerLink="/contact">
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        Contate-nos
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>