<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>privacypolices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Política de Privacidade do Projeto Final 5-3</h1>

  <p>Esta Política de Privacidade descreve como o Projeto Final 5-3 ("nós", "nosso", ou "Projeto Final 5-3") coleta, usa
    e compartilha suas informações pessoais quando você utiliza o nosso website e aplicativo PWA construído com Ionic,
    Angular e Capacitor. Ao utilizar nosso site e aplicativo, você concorda com a coleta e uso de informações de acordo
    com esta política.</p>

  <p class="ion-padding">

    Informações Coletadas
    1.1. Informações Pessoais
    Durante a utilização do nosso site e aplicativo, podemos coletar informações pessoais que você nos fornece
    voluntariamente, como nome, endereço de e-mail e outras informações de contato. Essas informações são usadas para
    identificação e comunicação com você.

    1.2. Informações de Uso
    Podemos coletar informações sobre como você utiliza nosso site e aplicativo, incluindo páginas visitadas, recursos
    acessados e ações realizadas. Esses dados são coletados para melhorar a experiência do usuário e otimizar nossos
    serviços.

    Uso das Informações
    2.1. Fornecimento de Serviços
    As informações coletadas podem ser usadas para fornecer os serviços do Projeto Final 5-3, incluindo a funcionalidade
    do aplicativo PWA. Isso inclui personalização da experiência, suporte ao cliente e comunicação relacionada ao uso
    dos nossos serviços.

    2.2. Melhoria e Desenvolvimento
    Utilizamos as informações coletadas para melhorar nossos produtos e serviços, desenvolver novos recursos e aprimorar
    a usabilidade do nosso site e aplicativo.

    2.3. Comunicações
    Podemos entrar em contato com você por e-mail ou outras formas de comunicação para fornecer informações sobre
    atualizações, novos recursos ou promoções relacionadas aos nossos serviços. Você pode optar por não receber essas
    comunicações a qualquer momento.

    Compartilhamento de Informações
    3.1. Terceiros
    Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para cumprir obrigações legais
    ou regulatórias.

    Armazenamento e Segurança
    4.1. Segurança
    Empregamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado,
    alteração ou destruição.

    4.2. Retenção
    Suas informações pessoais serão retidas apenas pelo tempo necessário para cumprir as finalidades descritas nesta
    Política de Privacidade, a menos que a retenção seja necessária para cumprir obrigações legais ou resolver disputas.

    Seus Direitos
    5.1. Acesso e Atualização
    Você tem o direito de acessar, corrigir ou atualizar suas informações pessoais a qualquer momento. Você pode fazer
    isso entrando em contato conosco através dos meios de contato fornecidos abaixo.

    5.2. Remoção de Dados
    Você pode solicitar a remoção das suas informações pessoais do nosso sistema, sujeito a obrigações legais de
    retenção.

    Contato
    Se você tiver alguma dúvida, preocupação ou solicitação relacionada a esta Política de Privacidade ou ao tratamento
    das suas informações pessoais, entre em contato conosco pelo seguinte meio:

    E-mail: [insira aqui o endereço de e-mail de contato]

    Esta Política de Privacidade entra em vigor a partir de [data de entrada em vigor] e está sujeita a alterações.
    Quaisquer alterações significativas serão notificadas através do nosso site ou por outros meios de comunicação
    apropriados. Certifique-se de revisar periodicamente esta Política de Privacidade para estar ciente de como suas
    informações estão sendo protegidas e usadas.</p>

</ion-content>