<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Visualização</ion-title>
    <ion-icon name="cube" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="documents" class="ion-no-margin">
    <ion-card-header>
      <ion-card-title><strong>Nome: </strong> {{ general.formatText(documents.form.name) }}</ion-card-title>
      <ion-card-subtitle><strong>E-mail: </strong> {{ general.formatText(documents.form.email) }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li><strong>Cep: </strong> {{ general.formatText(documents.form.cep) }}</li>
        <li><strong>Estado: </strong> {{ general.formatText(documents.form.logradouro) }}</li>
        <li><strong>Cidade: </strong> {{ general.formatText(documents.form.local) }}</li>
        <li><strong>Bairro: </strong> {{ general.formatText(documents.form.bairro) }}</li>
      </ul>
      <p><strong>Assunto: </strong> {{ general.formatText(documents.form.subject) }}</p>
      <p><strong>Message: </strong> {{ general.formatText(documents.form.message) }}</p>
      <ul>
        <li>Contato enviado em {{ documents.date | date: 'dd/MM/yyyy' }} às {{ documents.date | date: 'H:m' }}.</li>
      </ul>

      <img src="{{ documents.imagem.url }}" alt="Imagem do contato {{ documents.form.name }}" style="width: 200px;" />

      <ion-grid class="ion-text-center ion-no-padding" style="margin-top: 14px;">
        <ion-row>
          <ion-col><ion-button routerLink="/home">Listar Todos</ion-button></ion-col>
          <ion-col><ion-button (click)="alertBreve = true;">Editar</ion-button></ion-col>
          <ion-col><ion-button (click)="alertDelete = true;">Apagar</ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Elemento de alerta -->
  <ion-alert header="Realmente deseja exluir este contato?" [buttons]="alertButtons" [isOpen]="alertDelete"></ion-alert>

  <ion-alert header="Em breve...." [buttons]="breveButtons" [isOpen]="alertBreve"></ion-alert>

  <!-- Elemento de carregamento -->
  <ion-loading class="custom-loading" [isOpen]="deleting" showBackdrop="false" message="Carregando..."
    spinner="circles"></ion-loading>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>